<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All products</title>
    </head>
    <body>
        <h1><%= name %></h1>
        <ul>
            <% for (let product of products) {%>
            <li>
                <a href="/products/<%= product._id %>"
                    ><%=`${product.name} (${product.category}) for
                    ${product.price}`%></a
                >
            </li>
            <% } %>
        </ul>
        <b><a href="/products/new">New Product</a></b>

        <form action="/products?category=<%= category %>" method="GET">
            <br />
            <label for="category">Filter by Category</label>
            <select name="category" id="category">
                <option value="fruit" <%= category === 'fruit' ? 'selected' : '' %>>Fruit</option>
                <option value="vegetable" <%= category === 'vegetable' ? 'selected' : '' %>>Vegetable</option>
                <% if (category != undefined & category != 'all') {%>
                    <option value="all" >All</option>
                <% } else if (category === 'all') {%>
                    <option value="all"<%= 'selected' %> >All</option>
                <% } %>
            </select>
            <button>Filter</button>
        </form>
    </body>
</html>
